.git
.vagrant
jenkins-build-per-branch
jenkins-display-icons
jenkins-dsls
jenkins-job-builder-config
jenkins_r10k_ruby_scripts
puppet-btsync
puppet-debugging-kit
puppet-files
puppet-module-skeleton
puppet-r10k
puppet_module_profiles
puppet_module_pxe
puppet_module_site_workflow
puppet_module_zookeeper
README
scripts
testing-repo
